<app-header title="DateTime"></app-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Datos Nacimiento
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Fecha Nacimiento</ion-label>
      <ion-datetime
        palceholder="Nacimiento"
        displayFormat="YYYY MMMM DD"
        cancelText="CANCELAR!!"
        [ngModel]="fechaNaci.toISOString()"
        (ionChange)="cambioFecha( $event )"
      ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>MMMM</ion-label>
      <ion-datetime
        displayFormat="MMMM"
        value="2012-12-15T13:47:20.789"
      ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>MM DD YY</ion-label>
      <ion-datetime
        displayFormat="MM DD YY"
        placeholder="Select Date"
      ></ion-datetime>
    </ion-item>

    <ion-list-header>
      <ion-label>
        Restricciones
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Min y Max</ion-label>
      <ion-datetime
        placeholder="yyyy-mm-dd"
        displayFormat="YYYY MMMM DD"
        min="2015-01-01"
        max="2015-12-31"
      ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Años</ion-label>
      <ion-datetime
        placeholder="YYYY"
        displayFormat="YYYY"
        min="2015"
        max="2025"
        value="2020"
      ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Custom Date</ion-label>
      <ion-datetime
        [pickerOptions]="customPickerOptions"
        [(ngModel)]="customDate"
      ></ion-datetime>
    </ion-item>
  </ion-list>
</ion-content>
