<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <!-- <ion-button (click)="toggleMenu()" slot="start">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button> -->

      <ion-menu-button color="primary" menu="primerMenu"></ion-menu-button>
    </ion-buttons>

    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let c of componentes | async" [routerLink]="c.redirectTo">
      <ion-icon color="primary" slot="start" [name]=" c.icon "></ion-icon>
      <ion-label>{{ c.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
