<app-header [title]="pageTitle"></app-header>

<ion-content>
  <ion-button expand="full" color="primary" (click)="presentAlert()"
    >Mostrar Action Sheet</ion-button
  >

  <ion-button expand="full" color="secondary" (click)="presentAlertPrompt()"
    >Mostrar Prompt</ion-button
  >
</ion-content>
