<app-header title="Buttons"></app-header>

<ion-content>
  <ion-button size="small" expand="full"> Small</ion-button>
  <ion-button size="default" expand="full">Default</ion-button>
  <ion-button size="large" expand="full">Large</ion-button>

  <ion-button expand="full" class="top-20" routerLink="/alert" color="tertiary"
    >Link</ion-button
  >

  <!-- ROW -->

  <ion-row class="top-20">
    <ion-col>
      <ion-button expand="full" routerLink="/avatar" color="tertiary"
        >Avatar</ion-button
      >
    </ion-col>
    <ion-col>
      <ion-button expand="full" routerLink="/action-sheet" color="tertiary"
        >Action Sheet</ion-button
      >
    </ion-col>
  </ion-row>

  <!-- Fill -->
  <ion-button class="top-20" fill="clear" color="tertiary">Link</ion-button>
  <ion-button class="top-20" fill="outline" color="tertiary">Link</ion-button>
  <ion-button class="top-20" fill="solid" color="tertiary">Link</ion-button>
</ion-content>
