<app-header></app-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"> </ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon color="facebook" name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon color="twitter" name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon color="vimeo" name="logo-vimeo"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon color="youtube" name="logo-youtube"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon color="google" name="logo-google"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon color="github" name="logo-github"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let i of data; let in = index">
      Item {{ in + 1}}
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Im the Footer
    </ion-title>
  </ion-toolbar>
</ion-footer>
