<app-header title="Inputs Forms"></app-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>Nombre: {{ name || 'Sin Nombre' }}</ion-list-header>
    <ion-item>
      <ion-label position="floating">
        Nombre
      </ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
  </ion-list>

  <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">
    <ion-list>
      <ion-list-header>
        <ion-label>
          Formulario Valido: {{ formulario.valid }}
        </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          type="email"
          name="email"
          [(ngModel)]="usuario.email"
          required
          pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
        >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input
          type="password"
          name="password"
          [(ngModel)]="usuario.password"
          required
        >
        </ion-input>
      </ion-item>

      <ion-button expand="full" type="submit"> ENVIAR</ion-button>
    </ion-list>
  </form>
</ion-content>
