<app-header title="Listas"></app-header>

<ion-content>
  <ion-list #lista>
    <ion-item-sliding *ngFor="let user of usuarios | async">
      <ion-item-options side="start">
        <ion-item-option (click)="favorite(user)">Favorite</ion-item-option>
        <ion-item-option color="danger" (click)="share(user)"
          >Share</ion-item-option
        >
      </ion-item-options>
      <ion-item>
        <ion-label>
          <h3>{{ user.name }}</h3>
          <p>{{ user.email }}</p>
        </ion-label>

        <ion-label slot="end" text-right>
          {{ user.phone }}
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(user)">Unread</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
